.main {
    border-radius: 25px;
    margin: 20px auto 0 auto;
    text-align: center;
    width: 50%;
}

.main-title {
    font-size: 50px;
}

.email-form {
    background-color: rgb(140, 250, 200);
    border-radius: 15px;
    display: inline-block;
    font-size: 20px;
    height: 60vh;
    margin: 20px 0 0 0;
    padding: 40px;
    position: relative;
    text-align: center;
    width: 100%;
}

.main-body-bottom {
  bottom: 40px;
  left: 0;
  position: absolute;
  right: 0;
}

/* Debugging borders */
/* .main {
    border: solid red 2px;
}
.main-title {
    border: solid blue 2px;
}
.main-body {
    border: solid green 2px;
}
.email-form {
    border: solid orange 2px;
} */