.message {
  border: 2px;
  border-radius: 1rem;
  margin: 0.5rem auto 0.5rem;
}

.grn {
  background-color: rgb(140, 250, 200);
}

.wht {
  background-color: rgb(225, 225, 225);
}


.message-body {
  padding: 5px;
}

.messages-header {
  text-align: center;
  margin: 5px auto 5px;
}